In [1]:
import pymongo

In [2]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 6.1 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: scikit-learn>=0.24 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.8.0 imblearn-0.0

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import SMOTE
from pymongo import MongoClient

In [4]:
sns.set()

In [5]:
#Adicionando conexão com mongo
client = MongoClient("mongodb", 27017)

In [6]:
#Carregando database
db = client.raw

In [7]:
#Carregando Collection
dados = db.adults

In [8]:
#Gerando cursor com toda a collection
cursor = dados.find()

In [9]:
#Gerando um Dataframe do Panda
df = pd.DataFrame(list(cursor))

In [10]:
df.head()

,_id,income,finalWeight,education,occupation,hoursPerWeek,race,sex,educationNum,capitalLoss,nativeCountry,workClass,capitalGain,relationship,age,maritalStatus
0,611556cd12105d57ddfa6965,<=50k,147372,hs-grad,adm-clerical,48,white,male,9,0.0,united-states,private,0.0,husband,41,married-civ-spouse
1,611556cf12105d57ddfa6966,<=50k,188146,hs-grad,machine-op-inspct,40,white,male,9,0.0,united-states,private,5013.0,husband,30,married-civ-spouse
2,611556cf12105d57ddfa6967,<=50k,293936,7th-8th,?,40,white,male,4,0.0,?,?,0.0,not-in-family,32,married-spouse-absent
3,611556cf12105d57ddfa6968,>50k,191277,doctorate,prof-specialty,60,white,male,16,1902.0,united-states,self-emp-not-inc,0.0,husband,48,married-civ-spouse
4,611556cf12105d57ddfa6969,<=50k,188300,some-college,tech-support,40,white,female,10,0.0,united-states,private,0.0,own-child,20,never-married

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            32561 non-null  object
 1   income         32561 non-null  object
 2   finalWeight    32561 non-null  int64
 3   education      32561 non-null  object
 4   occupation     32561 non-null  object
 5   hoursPerWeek   32561 non-null  int64
 6   race           32561 non-null  object
 7   sex            32561 non-null  object
 8   educationNum   32561 non-null  int64
 9   capitalLoss    32561 non-null  float64
 10  nativeCountry  32561 non-null  object
 11  workClass      32561 non-null  object
 12  capitalGain    32561 non-null  float64
 13  relationship   32561 non-null  object
 14  age            32561 non-null  int64
 15  maritalStatus  32561 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 4.0+ MB

In [12]:
#Apesar de mostrar que o dataset não há valores null, percebe-se que existem campos valor '?' nas variáveis workclass e occupation

In [13]:
#df['workclass'].unique()

In [14]:
df['occupation'].unique()

array(['adm-clerical', 'machine-op-inspct', '?', 'prof-specialty',
       'tech-support', 'craft-repair', 'other-service',
       'transport-moving', 'exec-managerial', 'protective-serv', 'sales',
       'farming-fishing', 'handlers-cleaners', 'priv-house-serv',
       'armed-forces'], dtype=object)

In [15]:
#Vamos ver se existem outros valores faltantes em outras variáveis

In [16]:
df['age'].unique()

array([41, 30, 32, 48, 20, 43, 29, 27, 28, 49, 24, 19, 79, 18, 44, 35, 34,
       17, 47, 45, 42, 40, 64, 33, 31, 37, 38, 61, 66, 70, 51, 58, 67, 26,
       25, 52, 54, 60, 23, 63, 46, 36, 53, 50, 21, 39, 65, 71, 55, 76, 22,
       59, 57, 56, 62, 90, 77, 69, 75, 73, 68, 74, 72, 81, 78, 80, 88, 82,
       84, 83, 85, 86, 87])

In [17]:
df['education'].unique()

array(['hs-grad', '7th-8th', 'doctorate', 'some-college', 'bachelors',
       '11th', 'masters', 'assoc-acdm', 'assoc-voc', '1st-4th', '10th',
       '9th', '12th', 'prof-school', '5th-6th', 'preschool'], dtype=object)

In [18]:
#Inserir um documento em uma collection para teste (resultado)

In [19]:
#documento = {
#             "_id": 12345,
#             "nome": "Mateus",
#             "idade": 41
#}

In [20]:
#resultado.insert_one(documento)

In [21]:
#Após inserção, verificar o documento inserido. Se quiser usar a inserção de um Dataframe, usar o comanod insert_many

In [22]:
#resultado.find_one()

In [23]:
#documento = {
#             "nome": "João",
#             "idade": 10
#}

In [24]:
#resultado.insert_one(documento)