In [1]:
import pymongo

In [2]:
!pip install imblearn

Requirement already satisfied: imblearn in /opt/conda/lib/python3.8/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /opt/conda/lib/python3.8/site-packages (from imblearn) (0.8.0)
Requirement already satisfied: scikit-learn>=0.24 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import SMOTE
from pymongo import MongoClient

In [4]:
sns.set()

In [5]:
#Adicionando conex√£o com mongo
client = MongoClient("mongodb", 27017)

In [6]:
#Carregando database
db = client.raw

In [7]:
#Carregando Collection
dados = db.adults

In [8]:
#Gerando cursor com toda a collection
cursor = dados.find()

In [9]:
#Gerando um Dataframe do Panda
df = pd.DataFrame(list(cursor))

In [10]:
df.head()

,_id,income,finalWeight,education,occupation,hoursPerWeek,race,sex,educationNum,capitalLoss,nativeCountry,workClass,capitalGain,relationship,age,maritalStatus
0,61154e12e326c7165d26d26c,<=50k,77516,bachelors,adm-clerical,40,white,male,13,0.0,united-states,state-gov,2174.0,not-in-family,39,never-married
1,61154e13e326c7165d26d26d,<=50k,83311,bachelors,exec-managerial,13,white,male,13,0.0,united-states,self-emp-not-inc,0.0,husband,50,married-civ-spouse
2,61154e13e326c7165d26d26e,<=50k,215646,hs-grad,handlers-cleaners,40,white,male,9,0.0,united-states,private,0.0,not-in-family,38,divorced
3,61154e13e326c7165d26d26f,<=50k,234721,11th,handlers-cleaners,40,black,male,7,0.0,united-states,private,0.0,husband,53,married-civ-spouse
4,61154e13e326c7165d26d270,<=50k,338409,bachelors,prof-specialty,40,black,female,13,0.0,cuba,private,0.0,wife,28,married-civ-spouse

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            32561 non-null  object
 1   income         32561 non-null  object
 2   finalWeight    32561 non-null  int64
 3   education      32561 non-null  object
 4   occupation     32561 non-null  object
 5   hoursPerWeek   32561 non-null  int64
 6   race           32561 non-null  object
 7   sex            32561 non-null  object
 8   educationNum   32561 non-null  int64
 9   capitalLoss    32561 non-null  float64
 10  nativeCountry  32561 non-null  object
 11  workClass      32561 non-null  object
 12  capitalGain    32561 non-null  float64
 13  relationship   32561 non-null  object
 14  age            32561 non-null  int64
 15  maritalStatus  32561 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 4.0+ MB

In [12]:
#Apesar de mostrar que o dataset n√£o h√° valores null, percebe-se que existem campos valor '?' nas vari√°veis workclass e occupation

In [13]:
#df['workclass'].unique()

In [14]:
df['occupation'].unique()

array(['adm-clerical', 'exec-managerial', 'handlers-cleaners',
       'prof-specialty', 'other-service', 'farming-fishing', '?',
       'craft-repair', 'protective-serv', 'machine-op-inspct',
       'tech-support', 'sales', 'transport-moving', 'armed-forces',
       'priv-house-serv'], dtype=object)

In [15]:
#Vamos ver se existem outros valores faltantes em outras vari√°veis

In [16]:
df['age'].unique()

array([39, 50, 38, 53, 28, 37, 49, 42, 30, 40, 35, 54, 23, 45, 48, 19, 31,
       24, 57, 44, 41, 18, 43, 46, 36, 59, 17, 22, 34, 26, 29, 33, 64, 25,
       65, 58, 32, 61, 52, 56, 20, 60, 27, 47, 55, 51, 63, 76, 67, 68, 75,
       62, 73, 69, 21, 74, 72, 70, 71, 79, 77, 66, 78, 83, 80, 90, 81, 88,
       82, 84, 85, 86, 87])

In [17]:
df['education'].unique()

array(['bachelors', 'hs-grad', '11th', 'masters', '9th', 'doctorate',
       'some-college', 'assoc-acdm', 'assoc-voc', '5th-6th', '10th',
       '1st-4th', '7th-8th', 'prof-school', '12th', 'preschool'],
      dtype=object)

In [18]:
#Inserir um documento em uma collection para teste (resultado)

In [19]:
#documento = {
#             "_id": 12345,
#             "nome": "Mateus",
#             "idade": 41
#}

In [20]:
#resultado.insert_one(documento)

In [21]:
#Ap√≥s inser√ß√£o, verificar o documento inserido. Se quiser usar a inser√ß√£o de um Dataframe, usar o comanod insert_many

In [22]:
#resultado.find_one()

In [23]:
#documento = {
#             "nome": "Jo√£o",
#             "idade": 10
#}

In [24]:
#resultado.insert_one(documento)