In [1]:
import pymongo

In [2]:
!pip install imblearn

Requirement already satisfied: imblearn in /opt/conda/lib/python3.8/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /opt/conda/lib/python3.8/site-packages (from imblearn) (0.8.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.20.1)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (1.6.2)
Requirement already satisfied: scikit-learn>=0.24 in /opt/conda/lib/python3.8/site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import SMOTE
from pymongo import MongoClient

In [4]:
sns.set()

In [5]:
#Adicionando conexão com mongo
client = MongoClient("mongodb", 27017)

In [6]:
#Carregando database
db = client.teste

In [7]:
#Carregando Collection
dados = db.dados
resultado = db.resultado

In [8]:
#Gerando cursor com toda a collection
cursor = dados.find()

In [9]:
#Gerando um Dataframe do Panda
df = pd.DataFrame(list(cursor))

In [10]:
df.head()

,_id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-countr,income
0,61109bd58a5e062e4a81aa7b,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,61109bd58a5e062e4a81aa7c,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,61109bd58a5e062e4a81aa7d,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,61109bd58a5e062e4a81aa7e,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,61109bd58a5e062e4a81aa7f,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             9 non-null      object
 1   age             9 non-null      int64
 2   workclass       9 non-null      object
 3   fnlwgt          9 non-null      int64
 4   education       9 non-null      object
 5   education-num   9 non-null      int64
 6   marital-status  9 non-null      object
 7   occupation      9 non-null      object
 8   relationship    9 non-null      object
 9   race            9 non-null      object
 10  sex             9 non-null      object
 11  capital-gain    9 non-null      int64
 12  capital-loss    9 non-null      int64
 13  hours-per-week  9 non-null      int64
 14  native-countr   9 non-null      object
 15  income          9 non-null      object
dtypes: int64(6), object(10)
memory usage: 1.2+ KB

In [12]:
#Apesar de mostrar que o dataset não há valores null, percebe-se que existem campos valor '?' nas variáveis workclass e occupation

In [13]:
df['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private'], dtype=object)

In [14]:
df['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service'], dtype=object)

In [15]:
#Vamos ver se existem outros valores faltantes em outras variáveis

In [16]:
df['age'].unique()

array([39, 50, 38, 53, 28, 49, 52, 31, 37])

In [17]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', '9th', 'Masters'], dtype=object)

In [18]:
#Inserir um documento em uma collection para teste (resultado)

In [19]:
documento = {
             "_id": 12345,
             "nome": "Mateus",
             "idade": 41
}

In [20]:
resultado.insert_one(documento)

In [21]:
#Após inserção, verificar o documento inserido. Se quiser usar a inserção de um Dataframe, usar o comanod insert_many

In [23]:
resultado.find_one()

{'_id': 12345, 'nome': 'Mateus', 'idade': 41}

In [24]:
documento = {
             "nome": "João",
             "idade": 10
}

In [25]:
resultado.insert_one(documento)